{
  "extends": "airbnb",
  "globals": {
    "window": false,
    "jest": false,
    "test": false,
    "expect": false,
    "document": false,
    "beforeEach": false,
    "describe": false
  },
  "rules": {
    "global-require": 0,
    "no-unused-expressions": 0,
    "react/jsx-filename-extension": 0
  }
}
